* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.high {
  background-color: #1b2133;
  background-repeat: repeat;
  background-size: contains;
}
.high nav {
  background-color: #222a3f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
  border-bottom: 1px solid black;
  /* Style du logo */
}
.high nav img {
  width: 10vw;
  height: auto;
  padding: 1vw 2vw;
}
.high nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.high nav ul li {
  margin: 0.2em 0.2em;
  padding-left: 2em;
  padding-right: 2em;
  font-family: "Iceberg", cursive;
  font-size: 1.5vw;
}
.high nav ul li a {
  color: white;
  text-decoration: none;
}
.high nav ul li a:hover {
  padding-bottom: 3vw;
  border-bottom: 0.3vw solid #cc5216;
}
.high nav .btn {
  background-color: #cc5216;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 0.5vw;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.5vw;
  font-family: "Iceberg", cursive;
  transition: transform 0.4s ease-out;
  border: none;
  cursor: pointer;
  --c: #cc5216; /* the color */
  --b: .15vw; /* border length*/
  --d: 0.6vw; /* the cube depth */
  --_s: calc(var(--d) + var(--b));
  color: var(--c);
  border: solid rgba(0, 0, 0, 0);
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background: conic-gradient(at left var(--d) bottom var(--d), rgba(0, 0, 0, 0) 90deg, rgba(255, 255, 255, 0.3) 0 225deg, rgba(255, 255, 255, 0.6) 0) border-box, conic-gradient(at left var(--_s) bottom var(--_s), rgba(0, 0, 0, 0) 90deg, var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b)) border-box;
  transform: translate(calc(var(--d) / -1), var(--d));
  -webkit-clip-path: polygon(var(--d) 0%, var(--d) 0%, 100% 0%, 100% calc(100% - var(--d)), 100% calc(100% - var(--d)), var(--d) calc(100% - var(--d)));
          clip-path: polygon(var(--d) 0%, var(--d) 0%, 100% 0%, 100% calc(100% - var(--d)), 100% calc(100% - var(--d)), var(--d) calc(100% - var(--d)));
  transition: 0.5s;
}
.high nav .btn:hover {
  transform: translate(0, 0);
  -webkit-clip-path: polygon(0% var(--d), var(--d) 0%, 100% 0%, 100% calc(100% - var(--d)), calc(100% - var(--d)) 100%, 0% 100%);
          clip-path: polygon(0% var(--d), var(--d) 0%, 100% 0%, 100% calc(100% - var(--d)), calc(100% - var(--d)) 100%, 0% 100%);
}
.high .head {
  display: flex;
  justify-content: space-evenly;
  padding-top: 7vw;
  padding-bottom: 7vw;
}
.high .head .bloc1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 40%;
  margin: 0.3vw;
  padding: 2vw 0 2vw 4vw;
}
.high .head .bloc1 h2 {
  font-family: "Iceberg", cursive;
  font-size: 2vw;
  color: white;
  margin: 2vw 0.2vw;
  padding-left: 4em;
  text-align: end;
}
.high .head .bloc1 p {
  font-family: "Lato", sans-serif;
  color: white;
  margin: 2vw 0.2vw;
  text-align: end;
}
.high .head .bloc1 .btn {
  background-color: #cc5216;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 0.5vw;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.5vw;
  font-family: "Iceberg", cursive;
  transition: transform 0.4s ease-out;
  border: none;
  cursor: pointer;
  --c: #cc5216; /* the color */
  --b: .15vw; /* border length*/
  --d: 0.6vw; /* the cube depth */
  --_s: calc(var(--d) + var(--b));
  color: var(--c);
  border: solid rgba(0, 0, 0, 0);
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background: conic-gradient(at left var(--d) bottom var(--d), rgba(0, 0, 0, 0) 90deg, rgba(255, 255, 255, 0.3) 0 225deg, rgba(255, 255, 255, 0.6) 0) border-box, conic-gradient(at left var(--_s) bottom var(--_s), rgba(0, 0, 0, 0) 90deg, var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b)) border-box;
  transform: translate(calc(var(--d) / -1), var(--d));
  -webkit-clip-path: polygon(var(--d) 0%, var(--d) 0%, 100% 0%, 100% calc(100% - var(--d)), 100% calc(100% - var(--d)), var(--d) calc(100% - var(--d)));
          clip-path: polygon(var(--d) 0%, var(--d) 0%, 100% 0%, 100% calc(100% - var(--d)), 100% calc(100% - var(--d)), var(--d) calc(100% - var(--d)));
  transition: 0.5s;
  margin: 2vw 0.2vw;
}
.high .head .bloc1 .btn:hover {
  transform: translate(0, 0);
  -webkit-clip-path: polygon(0% var(--d), var(--d) 0%, 100% 0%, 100% calc(100% - var(--d)), calc(100% - var(--d)) 100%, 0% 100%);
          clip-path: polygon(0% var(--d), var(--d) 0%, 100% 0%, 100% calc(100% - var(--d)), calc(100% - var(--d)) 100%, 0% 100%);
}
.high .head .bloc2 {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.high .head .bloc2 img {
  width: 20vw;
  border: 0.5vw solid white;
  z-index: 5;
}
.high .head .bloc2 .circle {
  position: absolute;
  top: 25vw;
  left: 5.5vw;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  border: 2px dotted white;
  z-index: 1;
}
.high .head .bloc2 .css {
  position: absolute;
  top: 1vw;
  left: 5vw;
  font-size: 2.5vw;
  z-index: 7;
  border: none;
  border-radius: 2px;
  color: #d9e2f7;
}
.high .head .bloc2 .js {
  position: absolute;
  top: -4vw;
  left: 15vw;
  font-size: 2.5vw;
  z-index: 7;
  border: none;
  border-radius: 2px;
  color: #d9e2f7;
}
.high .head .bloc2 .html {
  position: absolute;
  top: 5vw;
  left: 32vw;
  font-size: 2.5vw;
  z-index: 7;
  border: none;
  border-radius: 2px;
  color: #d9e2f7;
}
.high .head .bloc2 .php {
  position: absolute;
  top: -3vw;
  left: 28vw;
  font-size: 2.5vw;
  z-index: 7;
  border: none;
  border-radius: 2px;
  color: #d9e2f7;
}
.high .head .bloc2 .git {
  position: absolute;
  top: 2vw;
  left: 25vw;
  font-size: 2.5vw;
  z-index: 7;
  border: none;
  border-radius: 2px;
  color: #d9e2f7;
}
.high .head .bloc2 .code {
  position: absolute;
  top: 7vw;
  left: 9vw;
  font-size: 2.5vw;
  z-index: 7;
  border: none;
  border-radius: 2px;
  color: #d9e2f7;
}
.high .skills .skillsdef {
  display: flex;
  margin: 0vw 3vw;
  justify-content: space-evenly;
  align-items: center;
}
.high .skills .skillsdef .textskills {
  width: 30%;
  color: white;
  margin-right: 2vw;
}
.high .skills .skillsdef .textskills h1 {
  font-family: "Iceberg", cursive;
  font-size: 3vw;
  margin: 2vw 0;
  margin-left: 2vw;
}
.high .skills .skillsdef .textskills p {
  font-family: "Lato", sans-serif;
  font-size: 1.1vw;
  margin-left: 2vw;
}
.high .skills .skillsdef .textskills button {
  width: 70%;
  margin: 1vw 2vw;
  padding: 1vw;
  text-align: center;
  border: none;
  border-radius: 40px;
  box-shadow: -5px 5px 6px 0 rgba(10, 15, 31, 0.973), 5px -5px 6px 0 rgba(25, 57, 126, 0.425);
  font-size: 1.3vw;
  font-family: "Lato", sans-serif;
  background-color: #1b2133;
  color: white;
  cursor: pointer;
}
.high .skills .skillsdef .textskills .activeButton {
  box-shadow: inset -3px 3px 5px 0 rgba(10, 15, 31, 0.973), inset 4px -4px 3px 0 rgba(25, 57, 126, 0.425);
  font-size: 1.25vw;
  padding: 1.05vw 1.05vw;
}
.high .skills .skillsdef .skillsimg img {
  width: 40vw;
  height: auto;
  transition: transform 0.4s ease-out;
}
.high .skills .skillsdef .skillsimg img:hover {
  transform: scale(1.1);
}
.high .skills #backend {
  display: none;
}
.high .skills .circleskills {
  height: 15vw;
  position: relative;
  margin-right: 1.5vw;
  transition: opacity 0.5s;
}
.high .skills .circleskills .circle1 .circle {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.high .skills .circleskills .circle1 .big {
  background-color: #1f304b;
  width: 8vw;
  height: 8vw;
  z-index: 1;
}
.high .skills .circleskills .circle1 .big .circlebis .layer-1 {
  transform: rotate(160deg);
  animation: fillan ease-in-out 3s;
}
.high .skills .circleskills .circle1 .big .circlebis .item {
  width: 8.11vw;
  height: 8.11vw;
  position: absolute;
  border-radius: 50%;
  clip: rect(0, 8.5vw, 8.5vw, 4.2vw);
}
.high .skills .circleskills .circle1 .big .circlebis .item .fill {
  width: 8.13vw;
  height: 8.13vw;
  position: absolute;
  border-radius: 50%;
  clip: rect(0, 4.26vw, 8.5vw, 0);
  background-color: white;
  transform: rotate(160deg);
  animation: fillan ease-in-out 3s;
}
@keyframes fillan {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(160deg);
  }
}
.high .skills .circleskills .circle1 .white {
  background-color: white;
  width: 5.5vw;
  height: 5.5vw;
  z-index: 2;
  box-shadow: 0px 0px 20px 1px #000000 inset;
}
.high .skills .circleskills .circle1 .small {
  background-color: #1b2133;
  width: 2.5vw;
  height: 2.5vw;
}
.high .skills .circleskills .circle1 p {
  font-size: 2vw;
  font-family: "Iceberg", cursive;
  color: white;
  position: absolute;
  top: 13vw;
  left: 7.75vw;
  padding-top: 1vw;
}
.high .skills .circleskills .circle2 .circle {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.high .skills .circleskills .circle2 .big {
  background-color: #1f304b;
  width: 8vw;
  height: 8vw;
  z-index: 1;
}
.high .skills .circleskills .circle2 .big .circlebis .layer-1 {
  transform: rotate(140deg);
  animation: fillen ease-in-out 3s;
}
.high .skills .circleskills .circle2 .big .circlebis .item {
  width: 8.11vw;
  height: 8.11vw;
  position: absolute;
  border-radius: 50%;
  clip: rect(0, 8.5vw, 8.5vw, 4.2vw);
}
.high .skills .circleskills .circle2 .big .circlebis .item .fill {
  width: 8.13vw;
  height: 8.13vw;
  position: absolute;
  border-radius: 50%;
  clip: rect(0, 4.26vw, 8.5vw, 0);
  background-color: white;
  transform: rotate(140deg);
  animation: fillen ease-in-out 3s;
}
@keyframes fillen {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(140deg);
  }
}
.high .skills .circleskills .circle2 .white {
  background-color: white;
  width: 5.5vw;
  height: 5.5vw;
  z-index: 2;
  box-shadow: 0px 0px 20px 1px #000000 inset;
}
.high .skills .circleskills .circle2 .small {
  background-color: #1b2133;
  width: 2.5vw;
  height: 2.5vw;
}
.high .skills .circleskills .circle2 p {
  font-size: 2vw;
  font-family: "Iceberg", cursive;
  color: white;
  position: absolute;
  top: 13vw;
  left: 26.25vw;
  padding-top: 1vw;
}
.high .skills .circleskills .circle3 .circle {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.high .skills .circleskills .circle3 .big {
  background-color: #1f304b;
  width: 8vw;
  height: 8vw;
  z-index: 1;
}
.high .skills .circleskills .circle3 .big .circlebis .layer-1 {
  transform: rotate(90deg);
  animation: fillou ease-in-out 3s;
}
.high .skills .circleskills .circle3 .big .circlebis .item {
  width: 8.11vw;
  height: 8.11vw;
  position: absolute;
  border-radius: 50%;
  clip: rect(0, 8.5vw, 8.5vw, 4.2vw);
}
.high .skills .circleskills .circle3 .big .circlebis .item .fill {
  width: 8.13vw;
  height: 8.13vw;
  position: absolute;
  border-radius: 50%;
  clip: rect(0, 4.26vw, 8.5vw, 0);
  background-color: white;
  transform: rotate(90deg);
  animation: fillou ease-in-out 3s;
}
@keyframes fillou {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
.high .skills .circleskills .circle3 .white {
  background-color: white;
  width: 5.5vw;
  height: 5.5vw;
  z-index: 2;
  box-shadow: 0px 0px 20px 1px #000000 inset;
}
.high .skills .circleskills .circle3 .small {
  background-color: #1b2133;
  width: 2.5vw;
  height: 2.5vw;
}
.high .skills .circleskills .circle3 p {
  font-size: 2vw;
  font-family: "Iceberg", cursive;
  color: white;
  position: absolute;
  top: 13vw;
  left: 45vw;
  padding-top: 1vw;
}
.high .skills .circleskills .circle4 .circle {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.high .skills .circleskills .circle4 .big {
  background-color: #1f304b;
  width: 8vw;
  height: 8vw;
  z-index: 1;
}
.high .skills .circleskills .circle4 .big .circlebis .layer-1 {
  transform: rotate(40deg);
  animation: fillon ease-in-out 3s;
}
.high .skills .circleskills .circle4 .big .circlebis .item {
  width: 8.11vw;
  height: 8.11vw;
  position: absolute;
  border-radius: 50%;
  clip: rect(0, 8.5vw, 8.5vw, 4.2vw);
}
.high .skills .circleskills .circle4 .big .circlebis .item .fill {
  width: 8.13vw;
  height: 8.13vw;
  position: absolute;
  border-radius: 50%;
  clip: rect(0, 4.26vw, 8.5vw, 0);
  background-color: white;
  transform: rotate(40deg);
  animation: fillon ease-in-out 3s;
}
@keyframes fillon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(40deg);
  }
}
.high .skills .circleskills .circle4 .white {
  background-color: white;
  width: 5.5vw;
  height: 5.5vw;
  z-index: 2;
  box-shadow: 0px 0px 20px 1px #000000 inset;
}
.high .skills .circleskills .circle4 .small {
  background-color: #1b2133;
  width: 2.5vw;
  height: 2.5vw;
}
.high .skills .circleskills .circle4 p {
  font-size: 2vw;
  font-family: "Iceberg", cursive;
  color: white;
  position: absolute;
  top: 13vw;
  left: 66vw;
  padding-top: 1vw;
}
.high .skills .circleskills .circle5 .circle {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.high .skills .circleskills .circle5 .big {
  background-color: #1f304b;
  width: 8vw;
  height: 8vw;
  z-index: 1;
}
.high .skills .circleskills .circle5 .big .circlebis .layer-1 {
  transform: rotate(120deg);
  animation: fillin ease-in-out 3s;
}
.high .skills .circleskills .circle5 .big .circlebis .item {
  width: 8.11vw;
  height: 8.11vw;
  position: absolute;
  border-radius: 50%;
  clip: rect(0, 8.5vw, 8.5vw, 4.2vw);
}
.high .skills .circleskills .circle5 .big .circlebis .item .fill {
  width: 8.13vw;
  height: 8.13vw;
  position: absolute;
  border-radius: 50%;
  clip: rect(0, 4.26vw, 8.5vw, 0);
  background-color: white;
  transform: rotate(120deg);
  animation: fillin ease-in-out 3s;
}
@keyframes fillin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(120deg);
  }
}
.high .skills .circleskills .circle5 .white {
  background-color: white;
  width: 5.5vw;
  height: 5.5vw;
  z-index: 2;
  box-shadow: 0px 0px 20px 1px #000000 inset;
}
.high .skills .circleskills .circle5 .small {
  background-color: #1b2133;
  width: 2.5vw;
  height: 2.5vw;
}
.high .skills .circleskills .circle5 p {
  font-size: 2vw;
  font-family: "Iceberg", cursive;
  color: white;
  position: absolute;
  top: 13vw;
  left: 83.75vw;
  padding-top: 1vw;
}
.high .skills .circleskills .circle6 .circle {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.high .skills .circleskills .circle6 .big {
  background-color: #1f304b;
  width: 8vw;
  height: 8vw;
  z-index: 1;
}
.high .skills .circleskills .circle6 .big .circlebis .layer-1 {
  transform: rotate(130deg);
  animation: filli ease-in-out 3s;
}
.high .skills .circleskills .circle6 .big .circlebis .item {
  width: 8.11vw;
  height: 8.11vw;
  position: absolute;
  border-radius: 50%;
  clip: rect(0, 8.5vw, 8.5vw, 4.2vw);
}
.high .skills .circleskills .circle6 .big .circlebis .item .fill {
  width: 8.13vw;
  height: 8.13vw;
  position: absolute;
  border-radius: 50%;
  clip: rect(0, 4.26vw, 8.5vw, 0);
  background-color: white;
  transform: rotate(130deg);
  animation: filli ease-in-out 3s;
}
@keyframes filli {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(130deg);
  }
}
.high .skills .circleskills .circle6 .white {
  background-color: white;
  width: 5.5vw;
  height: 5.5vw;
  z-index: 2;
  box-shadow: 0px 0px 20px 1px #000000 inset;
}
.high .skills .circleskills .circle6 .small {
  background-color: #1b2133;
  width: 2.5vw;
  height: 2.5vw;
}
.high .skills .circleskills .circle6 p {
  font-size: 2vw;
  font-family: "Iceberg", cursive;
  color: white;
  position: absolute;
  top: 13vw;
  left: 27.5vw;
  padding-top: 1vw;
}
.high .skills .circleskills .circle7 .circle {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.high .skills .circleskills .circle7 .big {
  background-color: #1f304b;
  width: 8vw;
  height: 8vw;
  z-index: 1;
}
.high .skills .circleskills .circle7 .big .circlebis .layer-1 {
  transform: rotate(130deg);
  animation: fillop ease-in-out 3s;
}
.high .skills .circleskills .circle7 .big .circlebis .item {
  width: 8.11vw;
  height: 8.11vw;
  position: absolute;
  border-radius: 50%;
  clip: rect(0, 8.5vw, 8.5vw, 4.2vw);
}
.high .skills .circleskills .circle7 .big .circlebis .item .fill {
  width: 8.13vw;
  height: 8.13vw;
  position: absolute;
  border-radius: 50%;
  clip: rect(0, 4.26vw, 8.5vw, 0);
  background-color: white;
  transform: rotate(130deg);
  animation: fillop ease-in-out 3s;
}
@keyframes fillop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(130deg);
  }
}
.high .skills .circleskills .circle7 .white {
  background-color: white;
  width: 5.5vw;
  height: 5.5vw;
  z-index: 2;
  box-shadow: 0px 0px 20px 1px #000000 inset;
}
.high .skills .circleskills .circle7 .small {
  background-color: #1b2133;
  width: 2.5vw;
  height: 2.5vw;
}
.high .skills .circleskills .circle7 p {
  font-size: 2vw;
  font-family: "Iceberg", cursive;
  color: white;
  position: absolute;
  top: 13vw;
  left: 47.5vw;
  padding-top: 1vw;
}
.high .skills .circleskills .circle8 .circle {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.high .skills .circleskills .circle8 .big {
  background-color: #1f304b;
  width: 8vw;
  height: 8vw;
  z-index: 1;
}
.high .skills .circleskills .circle8 .big .circlebis .layer-1 {
  transform: rotate(60deg);
  animation: fillun ease-in-out 3s;
}
.high .skills .circleskills .circle8 .big .circlebis .item {
  width: 8.11vw;
  height: 8.11vw;
  position: absolute;
  border-radius: 50%;
  clip: rect(0, 8.5vw, 8.5vw, 4.2vw);
}
.high .skills .circleskills .circle8 .big .circlebis .item .fill {
  width: 8.13vw;
  height: 8.13vw;
  position: absolute;
  border-radius: 50%;
  clip: rect(0, 4.26vw, 8.5vw, 0);
  background-color: white;
  transform: rotate(60deg);
  animation: fillun ease-in-out 3s;
}
@keyframes fillun {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(60deg);
  }
}
.high .skills .circleskills .circle8 .white {
  background-color: white;
  width: 5.5vw;
  height: 5.5vw;
  z-index: 2;
  box-shadow: 0px 0px 20px 1px #000000 inset;
}
.high .skills .circleskills .circle8 .small {
  background-color: #1b2133;
  width: 2.5vw;
  height: 2.5vw;
}
.high .skills .circleskills .circle8 p {
  font-size: 2vw;
  font-family: "Iceberg", cursive;
  color: white;
  position: absolute;
  top: 13vw;
  left: 65.75vw;
  padding-top: 1vw;
}
.high .portfolio {
  position: relative;
  padding-top: 5vw;
  height: 80vw;
}
.high .portfolio h2 {
  font-family: "Iceberg", cursive;
  font-size: 4vw;
  padding: 2vw;
  margin-left: 12vw;
  color: white;
}
.high .portfolio .vertical-line {
  position: absolute;
  top: 11vw;
  bottom: 3vw;
  left: 50%;
  width: 1px;
  background-color: white;
  z-index: 9999;
}
.high .portfolio .vertical-line ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 5vw;
  left: -5px;
}
.high .portfolio .vertical-line ul .point1 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #cc5216;
  margin-top: 0;
}
.high .portfolio .vertical-line ul .point1:before {
  content: "2022";
  position: absolute;
  top: -0.5vw;
  left: -4vw;
  color: white;
  font-family: "Iceberg", cursive;
  font-size: 1.5vw;
}
.high .portfolio .vertical-line ul .point2 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #cc5216;
  margin-top: 29.25vw;
}
.high .portfolio .vertical-line ul .point2:before {
  content: "2022";
  position: absolute;
  top: 29.5vw;
  left: 2.5vw;
  color: white;
  font-family: "Iceberg", cursive;
  font-size: 1.5vw;
}
.high .portfolio .blocsite {
  display: grid;
}
.high .portfolio .blocsite .projet1 {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  width: 40%;
  margin-right: 4vw;
}
.high .portfolio .blocsite .projet1 h3 {
  font-family: "Iceberg", cursive;
  font-size: 3vw;
  color: white;
  padding: 1vw 3vw;
}
.high .portfolio .blocsite .projet1 p {
  font-family: "Lato", sans-serif;
  font-size: 1.2vw;
  color: white;
  padding: 1vw 3vw;
}
.high .portfolio .blocsite .projet1 span {
  background-color: white;
  width: 20%;
  height: 1px;
  margin: 1vw 6vw;
}
.high .portfolio .blocsite .projet1 div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.high .portfolio .blocsite .projet1 div img {
  width: 70%;
  height: auto;
  margin: 1vw 3vw;
  border-radius: 6px;
}
.high .portfolio .blocsite .projet1 div a {
  color: white;
  font-size: 2.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
}
.high .portfolio .blocsite .projet2 {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  text-align: end;
  align-items: flex-end;
  width: 40%;
  margin-left: 4vw;
}
.high .portfolio .blocsite .projet2 h3 {
  font-family: "Iceberg", cursive;
  font-size: 3vw;
  color: white;
  padding: 1vw 3vw;
}
.high .portfolio .blocsite .projet2 p {
  font-family: "Lato", sans-serif;
  font-size: 1.2vw;
  color: white;
  padding: 1vw 3vw;
}
.high .portfolio .blocsite .projet2 span {
  background-color: white;
  width: 20%;
  height: 1px;
  margin: 1vw 6vw;
}
.high .portfolio .blocsite .projet2 div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.high .portfolio .blocsite .projet2 div img {
  width: 70%;
  height: auto;
  margin: 1vw 3vw;
  border-radius: 6px;
}
.high .portfolio .blocsite .projet2 div a {
  color: white;
  font-size: 2.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
}
.high .about {
  width: 85%;
  padding-bottom: 4vw;
  margin: 4vw auto;
  border-radius: 60% 40% 77% 23%/30% 62% 38% 70%;
  background-image: url("../assets/images/testb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -12px 12px 16px 0 rgba(10, 15, 31, 0.973), 8px -8px 12px 0 rgba(25, 57, 126, 0.425);
}
.high .about h3 {
  font-family: "Iceberg", cursive;
  font-size: 2.5vw;
  color: #d9e2f7;
  padding: 5vw 1vw 2vw 28vw;
}
.high .about .aboutbloc {
  display: flex;
  margin: 2vw 4vw;
}
.high .about .aboutbloc .menu {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #36445a;
  margin: 0 2vw;
  padding-bottom: 2vw;
  border-radius: 73% 27% 50% 50%/36% 41% 59% 64%;
}
.high .about .aboutbloc .menu img {
  width: 45%;
  height: auto;
  margin-top: -2vw;
  padding: 0vw 0.5vw 1vw 0.5vw;
  border-radius: 100%;
}
.high .about .aboutbloc .menu .activeButton {
  box-shadow: inset 3px 3px 5px 0 rgba(11, 16, 34, 0.678), inset -4px -4px 3px 0 rgba(226, 228, 231, 0.527);
  font-size: 1.15vw;
  padding: 0.55vw 0.55vw;
}
.high .about .aboutbloc .menu button {
  width: 50%;
  font-family: "Iceberg", cursive;
  font-size: 1.2vw;
  padding: 0.5vw;
  margin: 0vw 0.5vw;
  color: #1b2133;
  background-color: #d9e2f7;
  text-align: center;
  border: none;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: -4px 4px 6px 0 rgba(10, 15, 31, 0.973), 4px -4px 4px 0 rgba(146, 184, 247, 0.432);
}
.high .about .aboutbloc .active {
  display: block !important;
}
.high .about .aboutbloc .textme {
  display: none;
  width: 50%;
  height: 30vw;
  flex-direction: column;
  margin: 0 4vw;
  padding: 2vw;
}
.high .about .aboutbloc .textme h4 {
  font-family: "Iceberg", cursive;
  font-size: 2.5vw;
  color: #d9e2f7;
  padding: 0.5vw;
  margin-left: 3vw;
}
.high .about .aboutbloc .textme p {
  font-family: "Lato", sans-serif;
  font-size: 1.3vw;
  color: #d9e2f7;
  padding: 2vw 0;
}
.high .contact {
  margin-bottom: 5vw;
}
.high .contact h3 {
  font-family: "Iceberg", cursive;
  font-size: 4vw;
  color: white;
  padding: 1vw 0;
  margin: 4vw 4vw 4vw 14vw;
}
.high .contact .blocContact {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8vw;
  padding: 3vw;
  border-radius: 40px;
  background-image: url("../assets/images/testb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.5s;
  box-shadow: -12px 12px 16px 0 rgba(10, 15, 31, 0.973), 8px -8px 12px 0 rgba(32, 73, 160, 0.425);
}
.high .contact .blocContact h4 {
  font-family: "Iceberg", cursive;
  font-size: 3vw;
  color: white;
  padding: 1vw 0;
}
.high .contact .blocContact p {
  font-family: "Lato", sans-serif;
  font-size: 1.5vw;
  color: white;
  padding: 4vw 5vw;
  text-align: center;
}
.high .contact .blocContact .btn {
  background-color: #cc5216;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 0.5vw;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.5vw;
  font-family: "Iceberg", cursive;
  transition: transform 0.4s ease-out;
  border: none;
  cursor: pointer;
  --c: #cc5216; /* the color */
  --b: .15vw; /* border length*/
  --d: 0.6vw; /* the cube depth */
  --_s: calc(var(--d) + var(--b));
  color: var(--c);
  border: solid rgba(0, 0, 0, 0);
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background: conic-gradient(at left var(--d) bottom var(--d), rgba(0, 0, 0, 0) 90deg, rgba(255, 255, 255, 0.3) 0 225deg, rgba(255, 255, 255, 0.6) 0) border-box, conic-gradient(at left var(--_s) bottom var(--_s), rgba(0, 0, 0, 0) 90deg, var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b)) border-box;
  transform: translate(calc(var(--d) / -1), var(--d));
  -webkit-clip-path: polygon(var(--d) 0%, var(--d) 0%, 100% 0%, 100% calc(100% - var(--d)), 100% calc(100% - var(--d)), var(--d) calc(100% - var(--d)));
          clip-path: polygon(var(--d) 0%, var(--d) 0%, 100% 0%, 100% calc(100% - var(--d)), 100% calc(100% - var(--d)), var(--d) calc(100% - var(--d)));
  transition: 0.5s;
}
.high .contact .blocContact .btn:hover {
  transform: translate(0, 0);
  -webkit-clip-path: polygon(0% var(--d), var(--d) 0%, 100% 0%, 100% calc(100% - var(--d)), calc(100% - var(--d)) 100%, 0% 100%);
          clip-path: polygon(0% var(--d), var(--d) 0%, 100% 0%, 100% calc(100% - var(--d)), calc(100% - var(--d)) 100%, 0% 100%);
}
.high .contact .formbloc {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 64vw;
  margin: 0vw auto;
  background-color: #222a3f;
  border-radius: 40px;
  position: relative;
  transition: opacity 0.5s;
  background-image: url("../assets/images/form-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -12px 12px 16px 0 rgba(10, 15, 31, 0.973), 8px -8px 12px 0 rgba(32, 73, 160, 0.425);
}
.high .contact .formbloc .coor {
  width: 30%;
  align-self: flex-start;
  margin-top: 10vw;
  margin-left: 4vw;
}
.high .contact .formbloc .coor div {
  display: flex;
  align-items: center;
}
.high .contact .formbloc .coor div i {
  font-size: 1.6vw;
  color: white;
}
.high .contact .formbloc .coor div span {
  width: 1px;
  height: 1.3vw;
  margin: 1vw;
  background-color: #d9e2f7;
}
.high .contact .formbloc .coor div p {
  font-family: "Iceberg", cursive;
  font-size: 1.1vw;
  color: white;
}
.high .contact .formbloc .coor p {
  font-family: "Lato", sans-serif;
  font-size: 1.1vw;
  color: white;
}
.high .contact .formbloc .coor ul {
  list-style: none;
  padding: 2vw 0;
  display: flex;
}
.high .contact .formbloc .coor ul li {
  margin-right: 1.5vw;
}
.high .contact .formbloc .coor ul li a {
  color: white;
  font-family: "Iceberg", cursive;
  text-decoration: none;
  font-size: 1.7vw;
  transition: color 0.5s;
}
.high .contact .formbloc .coor ul li a:hover {
  color: #cc5216;
}
.high .contact .formbloc form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
}
.high .contact .formbloc form i {
  position: absolute;
  top: 2vw;
  left: 2vw;
  font-size: 1.3vw;
  color: #cc5216;
  cursor: pointer;
}
.high .contact .formbloc form label {
  font-family: "Iceberg", cursive;
  font-size: 1.5vw;
  color: #d9e2f7;
  padding: 1vw;
}
.high .contact .formbloc form .inputB {
  width: 90%;
  height: 2vw;
  border: hidden;
  border-bottom: 0.1vw solid #E5E5E5;
  outline: none;
  margin-bottom: 0.7vw;
  font-size: 1vw;
  color: white;
  background-color: transparent;
}
.high .contact .formbloc form .textArea {
  width: 90%;
  height: 6vw;
  border: hidden;
  border-bottom: 0.1vw solid #E5E5E5;
  outline: none;
  margin-bottom: 3vw;
  font-size: 1vw;
  color: white;
  background-color: transparent;
}
.high .contact .formbloc form .btn {
  background-color: #cc5216;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 0.5vw;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.5vw;
  font-family: "Iceberg", cursive;
  transition: transform 0.4s ease-out;
  border: none;
  cursor: pointer;
  --c: #cc5216; /* the color */
  --b: .15vw; /* border length*/
  --d: 0.6vw; /* the cube depth */
  --_s: calc(var(--d) + var(--b));
  color: var(--c);
  border: solid rgba(0, 0, 0, 0);
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background: conic-gradient(at left var(--d) bottom var(--d), rgba(0, 0, 0, 0) 90deg, rgba(255, 255, 255, 0.3) 0 225deg, rgba(255, 255, 255, 0.6) 0) border-box, conic-gradient(at left var(--_s) bottom var(--_s), rgba(0, 0, 0, 0) 90deg, var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b)) border-box;
  transform: translate(calc(var(--d) / -1), var(--d));
  -webkit-clip-path: polygon(var(--d) 0%, var(--d) 0%, 100% 0%, 100% calc(100% - var(--d)), 100% calc(100% - var(--d)), var(--d) calc(100% - var(--d)));
          clip-path: polygon(var(--d) 0%, var(--d) 0%, 100% 0%, 100% calc(100% - var(--d)), 100% calc(100% - var(--d)), var(--d) calc(100% - var(--d)));
  transition: 0.5s;
  margin-bottom: 3vw;
}
.high .contact .formbloc form .btn:hover {
  transform: translate(0, 0);
  -webkit-clip-path: polygon(0% var(--d), var(--d) 0%, 100% 0%, 100% calc(100% - var(--d)), calc(100% - var(--d)) 100%, 0% 100%);
          clip-path: polygon(0% var(--d), var(--d) 0%, 100% 0%, 100% calc(100% - var(--d)), calc(100% - var(--d)) 100%, 0% 100%);
}
.high .contact .formbloc form div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.high .contact .formbloc form div .inputS {
  width: 43%;
  height: 2vw;
  border: hidden;
  border-bottom: 0.1vw solid #E5E5E5;
  outline: none;
  margin-bottom: 0.7vw;
  font-size: 1vw;
  color: white;
  background-color: transparent;
}
.high footer {
  background-color: #222a3f;
  color: #fff;
  padding: 20px 0;
}
.high footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.high footer .footer-container .footer-menu ul {
  list-style: none;
  padding: 2vw;
  display: flex;
}
.high footer .footer-container .footer-menu ul li {
  margin-right: 4vw;
}
.high footer .footer-container .footer-menu ul li a {
  color: white;
  font-family: "Iceberg", cursive;
  text-decoration: none;
  font-size: 1.7vw;
}
.high footer .footer-container .footer-menu ul li a:hover {
  padding-top: 2.7vw;
  border-top: 0.3vw solid #cc5216;
}
.high footer .footer-container .footer-social ul {
  list-style: none;
  padding: 2vw;
  display: flex;
}
.high footer .footer-container .footer-social ul li {
  margin-right: 2.5vw;
}
.high footer .footer-container .footer-social ul li a {
  color: #fff;
  font-size: 1.75vw;
  transition: color 0.5s;
}
.high footer .footer-container .footer-social ul li a:hover {
  color: #cc5216;
}/*# sourceMappingURL=style.css.map */